[submodule "pokehack"]
	path = pokehack
	url = https://github.com/ncorgan/pokehack.git
[submodule "PokeLib"]
	path = PokeLib
	url = https://github.com/ncorgan/PokeLib-NC.git
[submodule "PKMDS-G5"]
	path = PKMDS-G5
	url = https://github.com/ncorgan/PKMDS-G5.git
[submodule "share/pkmnsim/images"]
	path = share/pkmnsim/images
	url = https://github.com/ncorgan/Pokemon-sim-images.git
