[submodule "pokehack"]
	path = pokehack
	url = https://github.com/ncorgan/pokehack.git
[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = https://github.com/ncorgan/SQLiteCpp.git
[submodule "PokeLib-NC"]
	path = PokeLib-NC
	url = https://github.com/ncorgan/PokeLib-NC.git
[submodule "PKMDS"]
	path = PKMDS
	url = https://github.com/ncorgan/PKMDS.git
[submodule "rpokesav"]
	path = rpokesav
	url = https://github.com/ncorgan/rpokesav.git
[submodule "share/libpkmn/images"]
	path = share/libpkmn/images
	url = https://github.com/ncorgan/LibPKMN-images.git
